{% load otree staticfiles %}

<div class="instructions well well-lg">

    <p>
        Here is a short summary of the instructions: <br>
        You are a member of a group of <b>4</b> people. Each member has an endowment of <b>200</b> points.
        You can put these 200 points on a private account or you can invest them fully or partially in a project.
        Each point you do not invest in the project will be automatically transferred to your private account. <br>
        The individual share from the mutual project is <b>0.5</b> * sum of all investments in the project. <br>
        Your total earnings therefore are given as follows:
    </p>
    <p>
        <center> Earnings = (200 - investment in project) + 0.5 * sum of all investments in the project </center>
    </p>
    <p>
    You can use the calculator to try out different scenarios.
    </p>
    <p>
        Here you make only one investment decision, the <b>unconditional</b> investment. This investment will be payoff-relevant
        for you if your (randomly determined) player role is <b>unconditional</b>.
    </p>
</div>

