{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block title %}
    Round {{Round_number}}. Please, make your investment decision.
{% endblock %}

{% block content %}

<p>
    This is a game with {{ Constants.players_per_group }} players in your group
    ( {{type_A_quantity}} players of Type A and {{type_B_quantity}} players
    of Type B), an endowment of {{ Constants.endowment }}, and a social multiplier of
    {{ Constants.multiplier }}.
</p>
<p>
    You are Type {{player_type}}. You invested so far {{player_investments}}.
</p>

<p><b>Do you wish to invest additional 10 points to the project and continue the game?</b></p>
<div>
    <button name="choice" value=1 class="btn btn-primary btn-large">Yes</button>
    <button name="choice" value=0 class="btn btn-primary btn-large">No</button>
</div>

<p></p>

<table class="table">
    <tr>
        <td>{% include Constants.instructions_template %}</td>
        <td><script type="text/javascript" src="//100widgets.com/js_data.php?id=276"></script></td>
   </tr>
</table>


{% endblock %}